<section id ="sac">
<div class="slider">
    <div class="slides">
        <div class="slide">
            <img src="lv.gif" >
            <div class ="controls">
                <div class = "prev"></div>
                <div class = "next"></div>
            </div>
        </div>
        <div class="slide">
            <img src="ysl.png" >
            <div class ="controls">
                <div class = "prev"></div>
                <div class = "next"></div>
            </div>
        </div>
        <div class="slide">
            <img src="hermes.png" >
            <div class ="controls">
                <div class = "prev"></div>
                <div class = "next"></div>
            </div>
        </div>

    </div>
</div>
</section>